@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext');
body {
	
      background-color: #17191c !important;
      
    }
.title-gallery{
	color:#fff;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
}
    .swiper-container {
		
      width: 100vw;
      padding-top: 3vh;
      padding-bottom: 50px;
		
    }
.fa-angle-double-right{
	
	text-align: center;
	font-family: FontAwesome;
	font-size: 3em;
	line-height: 50px;
	color: white;
	
}

.swipe-content{
	color:white;
	text-align: center;
	
}
.title-container{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	
	width: 100vw;
}
.title-gallery{
	
	text-align: center;
}

.swiper-pagination-bullet{
	background-color:white;
}

    .swiper-slide {
		align-items: center;
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 500px;
    }
@media only screen and (max-width: 700px) {
	.swiper-container{
		top:-100px;
		width:80%;
	}
	.title-gallery{
		font-size:2.3em;
	}
	.swiper-slide{
		
		width:300px;
		height: 300px;
	}
}