@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

.navbar {
	font-family: 'Raleway', sans-serif;
	
}




.navbar-light .navbar-toggler {
	border: 2px solid #ffffff;

}

.dropdown-item:hover {
	background: #000000;
	opacity: 0.7;

}

.title {
	margin-left: 10px;
	text-decoration: none !important;
	font-size:1.5em;
	color:#000;
	
}

.navbar-toggler:focus,
.navbar-toggler:active {
	outline: none !important;
	box-shadow: none;
}



.introduce {
	font-size: 3em;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
}




.dropdown-menu.show {
	border: 0px;
}

.dropdown-item {
	animation-name: example;
	animation-duration: 1s;
}

.lead {
	font-family: 'Lora', serif;
	font-size: 20px !important;
	letter-spacing: 0.5px;
}

.navbar-nav li {
	margin-left: 9px;
}

.menu {
	font-size: 1.1em;
}

.carousel-inner {
	max-height: 93.5vh;

}
.carousel-item img{
	width: 100%;
}





.carousel-caption {
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
}

.carousel-indicators {
	margin-bottom: 50px;
}

.carousel-caption h1 {

	letter-spacing: 5px;
	font-size: 500%;
	text-shadow: 1px 1px 10px #000;
}

/** **/


.wrapper {
	display: block;
	position: absolute;
	top: 30px;
	left: 67%;
	transform: translate(-50%, -50%);
}

.button {
	padding: 0.4em 0.6em;
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: black;
	border: 2px solid black;
	font-size: 1.2em;
	display: inline-block;
	border-radius: 1em;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.button::before {
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 3em;
	display: block;
	position: absolute;
	top: 0;
	left: -4.5em;
	transform: skewX(-45deg) translateX(0);
	transition: none;

}

.button:hover {
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	color: #000;
	border-bottom: 4px solid darken(red, 10%);
	text-decoration: none;
}

.button:hover::before {
	transform: skewX(-45deg) translateX(13.5em);
	transition: all 0.5s ease-in-out;
}



/** **/

.button-container {
	padding: 10px;
}

.blockquote {
	font-family: 'Titillium Web', sans-serif;
}

@media only screen and (max-width: 1000px) {

	.carousel-caption h1 {
		font-size: 300%;

	}


}

@media only screen and (max-width: 650px) {
	.btn1 {
		box-sizing: border-box;
		margin-top: 3em;
		left: -50px;
		color:black;
	}

	.cat-icon {
		width: 10px;
		height: 10px;
	}

	.title {
		text-decoration: none;
		color:#000;
		font-size: 25px;
	}

	.carousel-indicators {
		margin: 0;

	}

	.button {
		font-size: 0.9em;
		top: -20px;
		
	}

	.navbar-toggler {
		width: 30px;
		height: 30px;
	}

	.navbar-toggler-icon {
		transform: translate(-14px, -3px);
		width: 0em;
		height: 1.4rem !important;


	}
	.lead {
	font-family: 'Lora', serif;
	font-size: 17px !important;
}
	.button2 {
		padding: 6px;
		font-size: 1em;
		transform: translateY(-10px);
	}

	.carousel-caption h1 {
		font-size: 0;

	}

	.carousel-caption {
		font-size: 1em;
	}

	.carousel-caption {
		top: 50%;

	}

	.carousel-btn {
		box-sizing: border-box;
		font-size: 0.75rem !important;
		transform: translateY(-20px);

	}





}




.cat-icon {
	width: 20px;
	height: 20px;
}

.carousel-caption h3 {
	font-size: 200%;
	text-shadow: 3px 1px 15px #000;
	padding-bottom: 1rem;
}




/** 					**/


nav.black ul li a {
	color: #000;

}

nav ul li a {

	color: #151515;

	transition: .2s;
}

.dropdown-item {
	margin-bottom: 10px;
}

#button1 {
	display: inline-block;
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
		radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 330px;
	position: fixed;
	bottom: 140px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	animation-name: btn;
	animation-duration: 2s;
	


}

#button1::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 1.1em;
	line-height: 50px;
	color: black;
	
}

#button1:hover {
	cursor: pointer;
	background-color: #ffd700;

}

#button1:hover::after {
	color: #000;
}

#button1:active {
	background-color: #f4c430;
}

#button1.show {
	opacity: 1;
	visibility: visible;
}




/**social media**/


.active-social-icon {

	height: 50px;
	width: 50px;
	transition: 0.2s transform linear;

}



.cat-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	
	top: 10px;
	left: 2%;
	animation-name: cat;
	animation-duration: 2s;



}

.social-title {
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.main-container {
	margin-top: 30px;
	min-height: 40em;
}

.social-container {
	height: 15em;
}

.container-cat-photo {
	margin-top: 3em;

}


.holly-cat {
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 2em !important;
}


.figure-img:hover {
	cursor: pointer;
}

/* effect on holly photo */
.photobox {
	display: inline-block;
}

.photobox__previewbox {
	position: relative;
	overflow: hidden;
}

.photobox__preview {
	
	display: block;
	max-width: 100%;
}

.photobox__previewbox:before {
	content: "";
}

.photobox_type10 .photobox__previewbox:before {
	
	
	width: 0;
	height: 0;
	padding: 25%;
	background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
	will-change: transform;
	transform: translate(-50%, -50%) scale(0);
}

.photobox_type10:hover .photobox__previewbox:before {
	
	cursor: pointer;
	transform: translate(-50%, -50%) scale(4);
	transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type10 .photobox__label {
	font-size:2em;
	font-family: 'Lato', sans-serif;
	width: 95%;
	text-align: center;
	opacity: 0;
	transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
	will-change: opacity, transform;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 200%);
	z-index: 3;
}

.photobox_type10:hover .photobox__label {
	cursor: pointer;
	color: white;
	opacity: 1;
	transform: translate(-50%, -50%);
	transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
	transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
}

/* */


@media only screen and (max-width:770px) {
	#button1 {
		width: 40px;
		height: 40px;
		font-size: 0.5em;
		transform: translateX(26px);
		margin-right: 7px;
	}

	#button1:hover {
		cursor: pointer;

	}

	#button1::after {
		line-height: 40px;
	}
	

}

@media only screen and (min-width:670px) {
	.active-social-icon:hover {
		transform: scale(1.2);

	}
	
}

@media only screen and (max-width: 900px) {
	.navbar {
		min-height: 5vh;
	}
}


@media only screen and (max-width:770px) {
	.fb-root {
		transform: translateX(23px);
	}

}

@media only screen and (max-width: 650px) {
	#button1.show {
		opacity: 0.8;

	}
}

@keyframes cat2 {
	from {
		transform: rotateY(180deg);
	}

	to {
		transform: rotateY(-180deg);
	}
}











@keyframes example {
	from {
		color: #fff;
	}

	to {
		color: #000;
	}
}

@keyframes cat {
	from {
		left: -30px;
	}

	to {
		left: 2vw;
	}
}

@keyframes btn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}


.icon-tag {
	display: none;
}

.icon-tag a {
	display: none;

}
