@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin-ext');

.navbar {
	font-family: 'Lora', serif;

}




.navbar-light .navbar-toggler {
	border: 2px solid #ffffff;

}

.dropdown-item:hover {
	background: #000000;
	opacity: 0.7;

}

.title {
	margin-left: 30px;
}
.navbar-toggler:focus,.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}



.display-4 {
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
}

container2 {
	width: 50vw;
	height: 50vh;
}


.dropdown-menu.show {
	border: 0px;
}

.dropdown-item {
	animation-name: example;
	animation-duration: 1s;
}

.lead {
	font-family: 'Lora', serif;


}

.navbar-nav li {
	margin-left: 9px;
}

.menu {
	font-size: 1.1em;
}

.carousel-inner {
	max-height: 92vh;

}

.carousel-item img {

	width: 100%;
	height: 100%;
}



.carousel-caption {
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
}

.carousel-indicators {
	margin-bottom: 50px;
}

.carousel-caption h1 {

	letter-spacing: 5px;
	font-size: 500%;
	text-shadow: 1px 1px 10px #000;
}




.button2 {
	font-family: 'Lora', serif;
	position: absolute;
	color: #000;
	padding: 15px;
	letter-spacing: 0.6px;
	
	text-decoration: none;
	overflow: hidden;
	
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
	

}

.button2:hover {
	text-decoration: none;
	color: #000;
	opacity: 0.8;
}

.button2:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255, 255, 255, 0.05);
	
}

.button2 span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #686666;
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);

	}

	100% {
		transform: translateX(100%);

	}
}

.button2 span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	background: #686666;
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);

	}

	100% {
		transform: translateY(100%);

	}
}

.button2 span:nth-child(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #686666;
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);

	}

	100% {
		transform: translateX(-100%);

	}
}

.button2 span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	background: #686666;
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);

	}

	100% {
		transform: translateY(-100%);

	}
}






.button-container {
	padding: 10px;
}

.blockquote {
	font-family: 'Titillium Web', sans-serif;
}

@media only screen and (max-width: 1000px) {

	.carousel-caption h1 {
		font-size: 300%;

	}


}

@media only screen and (max-width: 650px) {
	.cat-icon{
		width:10px;
		height: 10px;
	}
	.title {
		font-size:25px;
	}
	.carousel-indicators {
		margin: 0;

	}
	.navbar-toggler{
		width:30px;
		height: 30px;
	}
	.navbar-toggler-icon{
		transform: translate(-14px,-3px);
		
		width:0em;
		height: 1.4rem !important;		
		
		
	}

	.button2 {
		padding: 6px;
		font-size: 1em;
		transform: translateY(-10px);
	}

	.carousel-caption h1 {
		font-size: 0;

	}

	.carousel-caption {
		font-size: 1em;
	}

	.carousel-caption {
		top: 50%;

	}

	.carousel-btn {
		font-size: 0.80rem !important;
		transform: translateY(-15px);

	}





}



.cat-icon {
	width: 20px;
	height: 20px;
}

.carousel-caption h3 {
	font-size: 200%;
	text-shadow: 3px 1px 15px #000;
	padding-bottom: 1rem;
}




/** 					**/
nav.black {


	background-color: #fff000;
	color: #000;
	transition: 2s;
}

nav.black ul li a {
	color: #000;

}

nav ul li a {

	color: #151515;

	transition: .2s;
}

.dropdown-item {
	margin-bottom: 10px;
}

#button1 {
	display: inline-block;
	background-color: #f44250;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 140px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	animation-name: btn;
	animation-duration: 2s;
}

#button1::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#button1:hover {
	cursor: pointer;
	background-color: #c10d0d;
}

#button1:active {
	background-color: #555;
}

#button1.show {
	opacity: 1;
	visibility: visible;
}




/**social media**/


.active-social-icon {

	height: 50px;
	width: 50px;
	transition: 0.2s transform linear;

}



.cat-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 5px;
	top: 5px;
	left: 2%;
	animation-name: cat;
	animation-duration: 2s;
	


}

.social-title {
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.main-container {
	height: 40em;
}

.social-container {
	height: 15em;
}




/**  Contact **/
#contact-section {
	background-color: #17263f;
	color: #ddd;
	display: flex;
	flex-direction: column;
	min-height: 25vh;
	font-family: 'Raleway', sans-serif;
}

#contact-section h1 {


	text-align: center;
	color: #ddd;
	font-size: 50px;
}



.contact {

	margin-bottom: 10px;
	margin-right: 86px;
	text-align: right;
	

}

.contact a {
	text-decoration: none;
	color: #ddd;
	font-family: 'Raleway', sans-serif;
}

.contact a:hover {
	text-decoration: none;
	color: #ddd;
}

.social-icon {

	width: 30px;
	height: 30px;
	margin-right: 10px;
	transition: 0.2s transform linear;
	border-radius: 6px;

}

.social-icon:hover {
	transform: scale(1.3);

}

@media only screen and (max-width:770px) {
	#button1 {
		width: 40px;
		height: 40px;
		font-size: 0.5em;
		transform: translateX(26px);
	}

	#button1:hover {
		background: #f44250;
	}

	#button1::after {
		line-height: 40px;
	}

}

@media only screen and (min-width:670px) {
	.active-social-icon:hover {
		transform: scale(1.2);

	}
}

@media only screen and (max-width: 900px) {
	.navbar {
		min-height: 7vh;
}
}


@media only screen and (max-width:770px) {
	.fb-root {
		transform: translateX(23px);
	}

}

@media only screen and (max-width: 650px) {
	#button1.show {
		opacity: 0.8;

	}
}

@keyframes cat2 {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform:rotateY(-180deg);
	}
}









/** 						**/

@keyframes example {
	from {
		color: #fff;
	}

	to {
		color: #000;
	}
}

@keyframes cat {
	from {
		left: -30px;
	}

	to {
		left: 2vw;
	}
}

@keyframes btn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}


.icon-tag {
	display: none;
}

.icon-tag a {
	display: none;

}
