@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

.font-container{

	padding-top: 3%;
	padding-bottom: 2%;
	
}

.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 500px;
		opacity: 0.9;
		
		
    }
.swiper-pagination-bullet{
	background-color:#fff !important;
}



.fb-ic, .ins-ic {
	color: white !important;
	cursor: pointer;

}
.cat-book{
	background-position: left;
}

.fb-ic:hover, .ins-ic:hover {
	color: black !important;
	cursor: pointer !important;
}

div .container {
	color: #fff;
}

.page-footer {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #000;
}

.font-small {
	font-size: .9rem;
}



a {
	text-decoration: none !important;
	color: #4f4f4f !important;
}

.dark-grey-text {
	color: #4f4f4f !important;
}

.title-container {
	background: url(../img/background-gallery.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;


}

.title-font{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3.5rem;
	font-weight: 300;
	text-shadow: 2px 0px 20px #000;
}





@media only screen and (max-width: 600px) {
	.title-font{
		font-size:2em;
	}
	.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
}








