.present-litters,
.present-litters-content
{
	color:#000 ;
}
.containerr{
	min-width:100vw;
	min-height: 30vh;
}
.jumbotron-fluid{
	margin:0 !important;
}


.container-photo{
	
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}
.heart{
	
	margin-left:20px;
	width: 30em;
	animation: heartbeat 2s infinite;
}

.photo-cat{
	margin-top:30px;
	width:400px;
	height: 300px;
	border-radius: 50px;
}
.caption-cat{
	margin-top:20px;
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.5em;
}
.caption-holly{
	transform: translateX(30%);
}
#uranos{
	width:300px;
}

.caption-uranos{
	transform: translateX(5%);
}
@media only screen and (max-width:1200px){
	.photo-cat{
	margin-top:30px;
	max-width:200px;
	max-height: 200px;
	border-radius: 50px;
}
	.caption-cat{
		
		font-size:1em;
	}
	.heart{
		width: 20em;
		align-self: flex-start;
	}
}
@media only screen and (max-width:800px){
	.container-photo{
		flex-direction: column;
		justify-content: center;
		align-items:center;
		align-content: center;
		
	}
	#holly{
		
	}
	.photo-cat{
	margin-top:30px;
	width:200px;
	height: 200px;
	border-radius: 50px;
}
	.caption-cat{
		font-size:1em;
	}
	.heart{
		
		width:15em;
	}
	.present-litters{
		font-size:2em !important;
	}
	
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}


